<!DOCTYPE HTML>

<html>
	<head>
		<title>About Us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="../index.html">OSAMY</a></h1>
								
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current"><a href="../index.html">Welcome</a></li>
									<li>
										<a href="#">Villes & Régions</a>
										<ul>
											<li>
												<a href="akchour.html">Akchour</a>
											</li>
											<li>
												<a href="alhoceima.html">Al Hoceïma</a>
											</li>
											<li>
												<a href="binelouidane.html">Bin el-Ouidane</a>
											</li>
											<li>
												<a href="chefchaouen.html">Chefchaouen</a>
											</li>
											<li>
												<a href="dekhla.html">Dekhla</a>
											</li>
											<li>
												<a href="essaouira.html">Essaouira</a>
											</li>
											<li>
												<a href="ouarzazate.html">Ouarzazate</a>
											</li>
											<li>
												<a href="ouzoud.html">Ouzoud</a>
											</li>
											<li>
												<a href="toubkal.html">Toubkal</a>
											</li>
											<li>
												<a href="autres.html">Autres lieux</a>
											</li>
										</ul>
									</li>
									<li><a href="culture.html">Culture</a></li>
									<li><a href="cuisine.html">Cuisine</a></li>
									<li><a href="festival.html">Festivals</a></li>
									<li><a href="aboutUs.html">About US</a></li>
								</ul>
							</nav>

					</header>
				</div>
			

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div id="content">

							<!-- Content -->
								<article>

									<h2>L'équipe OSAMY</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->

																	<section class="box feature">
																		<h2>Anass AOUN</h2>
																	</section>

																	<section class="box feature">
																		<h2>El Mehdi KZADRI</h2>
																	</section>

																	<section class="box feature">
																		<h2>Oualid BENHMID</h2>
																	</section>

																	<section class="box feature">
																		<h2>Sara SAMOUH</h2>
																	</section>

																	

																	<section class="box feature">
																		<h2>Yousra EL GHZIZAL</h2>
																	</section>

															</div>
														</div>
													</div>
												</div>


								</article>

						</div>
					</div>
				</div>

			
						<div class="row">
							<div class="12u">
								<div id="copyright">
									<ul class="menu">
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>

			</div>

		<!-- Scripts -->

			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.dropotron.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>
			<script src="../scripts/w3-include-HTML.js"></script>

	</body>
</html>