<!DOCTYPE HTML>
<html>
	<head>
		<title>Al Hoceima</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link href="../assets/css/main.css" rel="stylesheet" type="text/css"/>
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="right-sidebar">
		<div id="page-wrapper">

			<!-- Header -->

			<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="../index.html">OSAMY</a></h1>
								
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current"><a href="../index.html">Welcome</a></li>
									<li>
										<a href="#">Villes & Régions</a>
										<ul>
											<li>
												<a href="akchour.html">Akchour</a>
											</li>
											<li>
												<a href="alhoceima.html">Al Hoceïma</a>
											</li>
											<li>
												<a href="binelouidane.html">Bin el-Ouidane</a>
											</li>
											<li>
												<a href="chefchaouen.html">Chefchaouen</a>
											</li>
											<li>
												<a href="dekhla.html">Dekhla</a>
											</li>
											<li>
												<a href="essaouira.html">Essaouira</a>
											</li>
											<li>
												<a href="ouarzazate.html">Ouarzazate</a>
											</li>
											<li>
												<a href="ouzoud.html">Ouzoud</a>
											</li>
											<li>
												<a href="toubkal.html">Toubkal</a>
											</li>
											<li>
												<a href="autres.html">Autres lieux</a>
											</li>
										</ul>
									</li>
									<li><a href="culture.html">Culture</a></li>
									<li><a href="cuisine.html">Cuisine</a></li>
									<li><a href="festival.html">Festivals</a></li>
									<li><a href="aboutUs.html">About US</a></li>
								</ul>
							</nav>

					</header>
				</div>
			
			
			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row 200%">
							<div class="8u 12u$(medium)">
								<div id="content">

									<!-- Content -->
										<article>

											<h2>Al Hoceima</h2>

											<p>Al Hoceima est une ville située sur la côte nord-est du Maroc, dans le Rif, au cœur de la baie du même nom.
											Alhoceima Son climat est de type méditerranéen : étés secs et modérément chauds, hivers pluvieux, neigeux et frais. </p>

											<h3>La perle du nord</h3>

											<p> Al Hoceïma est une des plus belles villes du Maroc, la ville d'Al Hoceima se situe dans la région Rif au nord du Royaume Du Maroc, la ville est amazighophone, elle se situe sur la côte nord-est du Maroc sur la mer Méditerranée, et compte une population d'environ 83100 d'habitants.

											Le climat d’Al Hoceima est de type méditerranéen : l'été est sec et chaud, les hivers pluvieux et frais.

											Al Hoceima, est l'une des plus grandes stations balnéaires du Maroc et d'Afrique du Nord, elle est située au large de nombreuses petites îles et îlots rocheux. Al Hoceima est une ville surtout connue pour ses magnifiques plages méditerranéennes (Quemado, Sfiha, Calabonita, Tara Youssef, Cala Iris, Matadero, Imoud, Izdi, Sswani, Spalmadiro,boussekkour....).

											La ville d'Al Hoceima est une destination touristique typique du Maroc littoral, plages, souks, climat, cette ville attire des touristes venus pour la qualité de ces plages, l’hospitalité marocaine et plus particulièrement rifaine et les nombreuses activités possible dans cette région.

											</p>

											<p> Si vous cherchez également la nature et le calme cette destination est pour vous. En effet, Al Hoceima est pourvue d’un parc national qui regorge d’une richesse forestière assez rare aussi bien en flore qu’en faune. Parmi les arbres des régions forestières, se trouvent les pins, les claies, les cèdres et autres. Al Hoceima réunit toutes les conditions positives pour la pratique de la chasse et la pêche ainsi que tout autre sport aquatique … Les poissons demeurent les plats distinctifs et spécifiques de la région, notamment que ses poissons sont connus par leur goût délicieux à ample échelle le reste des plats font partie de la cuisine marocaine tels que le couscous, tagines, méchoui, pastilla, etc …, ceci à côté des gâteaux préparés surtout à base d’amende, et l’huile d’olives. </p>

											<!-- pictures -->



											<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/cities/alhoceima1.jpeg" alt="" /></a>
																	</section>

															</div>
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/cities/alhoceima2.jpg" alt="" /></a>
																	</section>

															</div>
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/cities/alhoceima3.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

												<!-- pictures -->



												
										<!-- end of pictures -->

										</article>

								</div>
							</div>
							<div class="4u 12u$(medium)">
								<div id="sidebar">

									<!-- Sidebar -->
											<footer>
												<a href="http://www.maroc-trip.com/Ville-Voyage/11-Al_Hoceima" class="button icon fa-info-circle">Savoir plus</a>
											</footer>
										</section>

										<p></p>
										<section>
											<h3>Liens utiles</h3>
											<ul class="style2">
												<li><a href="http://www.bladi.net/al-hoceima,562.html">Actualité</a></li>
												<li><a href="https://www.tripadvisor.fr/Hotels-g795889-Al_Hoceima_Taza_Al_Hoceima_Taounate_Region-Hotels.html">Réversation</a></li>
											</ul>
										</section>

								</div>
							</div>
						</div>
					</div>
				</div>


		<!-- footer -->

		<div id="footer-wrapper">
					<footer id="footer" class="container">
					</footer>
				</div>

			</div>





		<!-- Scripts -->

			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.dropotron.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>
			<script src="../scripts/w3-include-HTML.js"></script>

	</body>
</html>