<!DOCTYPE HTML>

<html>
	<head>
		<title>Autre villes</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="../index.html">OSAMY</a></h1>
								
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current"><a href="../index.html">Welcome</a></li>
									<li>
										<a href="#">Villes & Régions</a>
										<ul>
											<li>
												<a href="akchour.html">Akchour</a>
											</li>
											<li>
												<a href="alhoceima.html">Al Hoceïma</a>
											</li>
											<li>
												<a href="binelouidane.html">Bin el-Ouidane</a>
											</li>
											<li>
												<a href="chefchaouen.html">Chefchaouen</a>
											</li>
											<li>
												<a href="dekhla.html">Dekhla</a>
											</li>
											<li>
												<a href="essaouira.html">Essaouira</a>
											</li>
											<li>
												<a href="ouarzazate.html">Ouarzazate</a>
											</li>
											<li>
												<a href="ouzoud.html">Ouzoud</a>
											</li>
											<li>
												<a href="toubkal.html">Toubkal</a>
											</li>
											<li>
												<a href="autres.html">Autres lieux</a>
											</li>
										</ul>
									</li>
									<li><a href="culture.html">Culture</a></li>
									<li><a href="cuisine.html">Cuisine</a></li>
									<li><a href="festival.html">Festivals</a></li>
									<li><a href="aboutUs.html">About US</a></li>
								</ul>
							</nav>

					</header>
				</div>
			

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div id="content">

							<!-- Content -->
								<article>

									<h2>Saidia</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/cities/Saidia.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p> Saidia surnommée « la perle bleue », est une ville de la province de Berkane, dans la région du Maroc Oriental.Sa côte fait qu'elle dispose de l'une des plages les plus longues du Maroc, caractérisée par son sable fin et doré, et son climat méditerranéen. Elle est désormais une destination très appréciée, au niveau international, desservie par trois aéroports internationaux 
									</p>

									<h2>Oukaimeden</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/cities/oukaimeden3.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>Oukaimeden
 									ou Oukaïmeden, est la principale station de ski du Maroc composée d'une vingtaine de pistes de tout niveaux. Elle se situe à environ 80 km de Marrakech dans le Haut Atlas, sur la commune éponyme qui se situe dans la Province d'Al Haouz.. Cette station de ski, la plus haute d’Afrique, est aussi la mieux équipée au Maroc. 
									</p>

									<h2>Mirleft</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/cities/mirleft.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>Mirleft est une petite perle comme la côte marocaine sait cacher entre ses plages, ses falaises vertigineuses et ses petites criques délicatement ourlées de sable blanc. il se trouve à la rencontre de la chaîne montagneuse de l'Anti-Atlas et de l'océan Atlantique. Ce phénomène géologique a créé de hautes falaises plongeant dans l'océan, une multitudes d'oueds qui forment à chaque embouchure des petites plages, et un arrière-pays formé de grandes collines peuplées de cactus, de palmiers et d'arganiers.
									</p>

									<h2>Paradise valley</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/cities/paradise valley.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>Paradise valley est une section de la rivière Tamraght dans les montagnes du Haut Atlas marocain. Il est situé à environ 20 km au nord d'Agadir. La vallée est connue pour son abondance de piscines de roche et de petites cascades.
									</p>

								</article>

						</div>
					</div>
				</div>

			
						<div class="row">
							<div class="12u">
								<div id="copyright">
									<ul class="menu">
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>

			</div>

		<!-- Scripts -->

			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.dropotron.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>
			<script src="../scripts/w3-include-HTML.js"></script>

	</body>
</html>