<!DOCTYPE HTML>

<html>
	<head>
		<title>Cuisine</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="../index.html">OSAMY</a></h1>
								
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current"><a href="../index.html">Welcome</a></li>
									<li>
										<a href="#">Villes & Régions</a>
										<ul>
											<li>
												<a href="akchour.html">Akchour</a>
											</li>
											<li>
												<a href="alhoceima.html">Al Hoceïma</a>
											</li>
											<li>
												<a href="binelouidane.html">Bin el-Ouidane</a>
											</li>
											<li>
												<a href="chefchaouen.html">Chefchaouen</a>
											</li>
											<li>
												<a href="dekhla.html">Dekhla</a>
											</li>
											<li>
												<a href="essaouira.html">Essaouira</a>
											</li>
											<li>
												<a href="ouarzazate.html">Ouarzazate</a>
											</li>
											<li>
												<a href="ouzoud.html">Ouzoud</a>
											</li>
											<li>
												<a href="toubkal.html">Toubkal</a>
											</li>
											<li>
												<a href="autres.html">Autres lieux</a>
											</li>
										</ul>
									</li>
									<li><a href="culture.html">Culture</a></li>
									<li><a href="cuisine.html">Cuisine</a></li>
									<li><a href="festival.html">Festivals</a></li>
									<li><a href="aboutUs.html">About US</a></li>
								</ul>
							</nav>

					</header>
				</div>
			
			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div id="content">

							<!-- Content -->
								<article>

									<h2>Couscous</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/food/couscous.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>Le couscous, est un plat Berbère nait au Maghreb, on le trouve Au Maroc, en Algérie et en Tunisie et dans chacun de ces pays on trouve différentes façon de le préparer et de le garnir en version salée ou sucrée selon les régions ... Le plus connus des couscous c'est bien sûr le couscous aux légumes :  de la semoule, une viande au choix et les légumes. A Casablanca on parle même de couscous au 7 légumes mais on peut le préparer selon les légumes qu'on aime ou les saisons...etc Au fil du temps, le couscous est devenu un plat mondial, il est classé comme deuxième plat préféré des français.</p>

									<h2>Chebakia</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/food/chebakia.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>La chebakia (ou chbakia), appelée également m’kharqa, est une pâtisserie généralement préparée pendant le ramadan.

									La pâte — préparée avec farine, œuf, eau de fleur d’oranger, vinaigre, safran, gomme arabique, anis vert, amande, cannelle, sésame, huile d'olive et sel — est découpée en rectangles dans lesquels sont pratiquées à l’aide d’une roulette quatre entailles formant cinq languettes qui sont ensuite enchevêtrées avec habileté pour donner la forme caractéristique de cette pâtisserie.

									La chebakia est frite dans de l’huile végétale, puis trempée dans du miel et enfin roulée dans des graines de sésame.</p>

									<h2>Tangia</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/food/tangia.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>La tangia est un plat très connu au Maroc surtout à Marrakech d'où le plats est originaire Elle est préparée exclusivement par les hommes à base de viande et d'oignons bien cuits. On ne peut pas y aller sans la goûter, c'est un plat traditionnel connu dans tout le Maroc depuis des siècles.</p>

									<h2>Pastilla</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/food/pastilla.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>La pastilla est un plat Arabo-Andalouse traditionnel du Maghreb, originaire d'Andalousie (Espagne), constitué d'une sorte de feuilleté (feuilles de ouarka ou warqa1, proches de la feuille de brik), à base d'oignon, de pigeons (ou de poulet, de pintade, ou encore, plus récemment, de fruits de mer), de persil, de coriandre, d'œuf dur et d'amandes, mélange de sucré et de salé parfumé à la cannelle. Elle est souvent servie lors des fêtes, juste avant le plat principal.</p>

									<h2>Harira</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/food/harira.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>Au Maghreb, la harira est traditionnellement le plat de la rupture du jeûne pendant le mois de ramadan. Elle est servie accompagnée de dattes, d'œufs durs, de crêpes au miel, de pâtisseries telles que chebakia, mkharqa, sfouf, sellou, tkawate, zammita... Elle peut aussi être accompagnée de tranches de citron.
									Elle est cependant consommée tout au long de l'année, particulièrement pendant l'hiver.</p>

									<h2>Chorba</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/food/chorba.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>La chorba est principalement consommée en Afrique du Nord : Algérie3, Libye4 et Tunisie.

									Pendant le ramadan, la chorba est servie quotidiennement après la prière et offerte traditionnellement aux pauvres. De nos jours, on la trouve même dans les restaurants gastronomiques.

									Elle est préparée à base de viande ovine (mouton ou agneau), de vermicelles ou de frik (blé concassé) et de légumes (variables selon les régions : tomates, courgettes, carottes, etc.</p>

									<h2>Rfissa</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/food/rfissa.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>Le rfissa est un plat marocain venu de la région de Casablanca à base de msemmen (crêpe maghrébine), d'un bouillon d'oignons, de gingembre, de coriandre, de safran, de ras el hanout et de l'indispensable fenugrec (halba en arabe) qui lui procure sa saveur unique et accompagné de pigeon mais peut être remplacé par de la viande de poulet. Ce plat est resté depuis des siècles dans les traditions marocaines.</p>

									<h2>Tajine</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/food/tajine.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>Le tajine, ou tagine (substantif masculin), (en berbère ⵜⴰⵊⵉⵏ tajine), désigne, d'une part, un ustensile de cuisine traditionnel du Maghreb, plat de cuisson creux en terre cuite parfois vernissée, surmonté d'un couvercle conique, et d'autre part, une préparation culinaire du Maghreb occidental (Algérie et Maroc), cuite dans cet ustensile, sorte de ragoût cuit à l'étouffée, qui peut être composé de mélange de viande, de volaille ou de poisson, de légumes ou de fruits et d'épices. La préparation du tajine, les ingrédients et les épices utilisés diffèrent selon les régions et pays du Maghreb.</p>

								</article>

						</div>
					</div>
				</div>

			
						<div class="row">
							<div class="12u">
								<div id="copyright">
									<ul class="menu">
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>

			</div>

		<!-- Scripts -->

			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.dropotron.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>
			<script src="../scripts/w3-include-HTML.js"></script>

	</body>
</html>