<!DOCTYPE HTML>

<html>
	<head>
		<title>Culture</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="../index.html">OSAMY</a></h1>
								
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current"><a href="../index.html">Welcome</a></li>
									<li>
										<a href="#">Villes & Régions</a>
										<ul>
											<li>
												<a href="akchour.html">Akchour</a>
											</li>
											<li>
												<a href="alhoceima.html">Al Hoceïma</a>
											</li>
											<li>
												<a href="binelouidane.html">Bin el-Ouidane</a>
											</li>
											<li>
												<a href="chefchaouen.html">Chefchaouen</a>
											</li>
											<li>
												<a href="dekhla.html">Dekhla</a>
											</li>
											<li>
												<a href="essaouira.html">Essaouira</a>
											</li>
											<li>
												<a href="ouarzazate.html">Ouarzazate</a>
											</li>
											<li>
												<a href="ouzoud.html">Ouzoud</a>
											</li>
											<li>
												<a href="toubkal.html">Toubkal</a>
											</li>
											<li>
												<a href="autres.html">Autres lieux</a>
											</li>
										</ul>
									</li>
									<li><a href="culture.html">Culture</a></li>
									<li><a href="cuisine.html">Cuisine</a></li>
									<li><a href="festival.html">Festivals</a></li>
									<li><a href="aboutUs.html">About US</a></li>
								</ul>
							</nav>

					</header>
				</div>
			

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div id="content">

							<!-- Content -->
								<article>

									<h2>LANGUE</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/culture/langue.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>Les langues officielles du Maroc sont le berbère et l'arabe classique qui se décline lui-même en plusieurs dialectes parlés selon les régions comme les parlers-hilaliens dans les plaines occidentales par exemple. Le pays considère comme autres langues culturelles le français et l'espagnol, ainsi que l'anglais en expansion chez les jeunes générations.</p>

									<h3>Amazighe (berbère)</h3>
									<p>
										Environ 40 % de la population parle l’amazighe ou tamazight. La reconnaissance du tamazight est une revendication ancienne des mouvements berbères qui estiment les Berbères culturellement opprimés par la politique d'arabisation menée après l'indépendance. Le 17 octobre 2001 le roi Mohammed VI a créé l’Institut royal de la culture amazighe (IRCAM), régi par le dahir royal no 1-01-299 et qui a pour vocation de donner avis « sur les mesures de nature à sauvegarder et à promouvoir la langue et la culture amazighes dans toutes ses formes et expressions ».
									</p>
									<h3>Arabe (littéraire)</h3>
									<p>
										La langue enseignée dans les écoles publiques et employée à l'écrit, dans les discours formels et les media est l'arabe littéraire.
										Elle n'est bien maîtrisée que par la population la plus éduquée.
									</p>

									<h3>Darija</h3>
									<p>
										Par un phénomène de diglossie, le darija couramment parlé dans la rue et la vie quotidienne est la darija, langue maternelle des Marocains (environ 60 % de la population) et pratiquée également par les berbérophones dans leur grande majorité (bien que beaucoup d'hommes et de femmes, surtout en milieu rural, ne parlent que le berbère). La darija diffère peu des autres dialectes du Maghreb mais est incompréhensible pour les locuteurs du Machrek, contrairement à l'arabe littéraire qui sert alors de lingua franca.
									</p>
									<h3>Français</h3>
									<p>
										Le français est la langue de l'économie, des études supérieures scientifiques et techniques, et la langue de travail de plusieurs ministères. Il est enseigné dans les écoles primaires, collèges et lycées, dans toutes les universités et dans les écoles supérieures.

										L'enseignement dans les écoles publiques ayant été arabisé puis islamisé dans les années 1980, les familles issues de l'élite marocaine préfèrent scolariser leurs enfants dans le privé afin de leur donner une meilleure maîtrise du français et une meilleure ouverture sur le monde.

										Selon une enquête publiée en 2010, le français est très largement maîtrisé au Maroc : 10 366 000 personnes sont considérées comme francophones (sachant le lire et l'écrire), soit 32 % de la population totale ou 39 % de la population âgée de 10 ans et plus. Ceci n'inclut pas les personnes sachant parler le français mais qui ne savent pas l'écrire ou le lire. Le français est bien plus parlé en ville qu'en milieu rural.

										Plusieurs régions marocaines sont membre de l'Association internationale des régions francophones et le Maroc fait partie de l'Assemblée parlementaire de la francophonie.
									</p>


									<h2>Religion</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/culture/mosque.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p> L'Islam est la religion officielle du Maroc, mais la coexistence avec les autres religions est parfaite (la pratique des autres religions révélées est d'ailleurs garantie par la constitution). La journée est rythmée par cinq appels à la prière. C'est le muezzin qui les annonce du haut de son minaret. Pendant le mois du Ramadan, les Marocains jeûnent, cessent de boire et de fumer du lever au coucher du soleil. Evidemment, leur quotidien s'en trouve modifié. La plupart des administrations, services publics, monuments et magasins aménagent leurs horaires. Toutefois, les non-musulmans trouvent à manger dans certains restaurants, en particulier dans les hôtels. Les journées se traînent mais que les nuits sont belles ! </p>


									<h2>Cuisine</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/food/couscous.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>La cuisine marocaine accommode avec raffinement légumes et fruits gorgés de soleil, épices rares et parfumées, délicats poissons et viandes savoureuses... La meilleure des cuisines orientales, réputée dans le monde entier, met vos papilles en fête. Voici les principaux plats marocains à goûter absolument.
									Brochettes : à l'entrée d'un souk, sur une place, au bord d'une route, on cuit sous vos yeux de délicieuses brochettes : un régal, économique et rapide.
									Couscous : c'est le traditionnel déjeuner familial du vendredi, mais vous en trouverez tous les jours au restaurant. Au cours de votre voyage, vous pourrez déguster mille couscous, car il varie selon les régions et la créativité de la cuisinière. Essayez de ne pas utiliser vos couverts pour le manger, mais plutôt vos doigts, à la marocaine.
									Méchoui : agneau rôti à la broche ou au four. La viande fond dans la bouche !
									Pastilla : une fine pâte feuilletée farcie de pigeon et d'amandes : c'est le fameux sucré salé à la marocaine. Il existe des variantes au poisson, au poulet et même au lait pour le dessert.
									Plats du Ramadan : au coucher du soleil; on rompt le jeûne (f'tour) avec la riche et savoureuse harira, soupe à base de viande, lentilles, pois chiches, avec les beghrir, petites crêpes en nid d'abeille servies avec du beurre fondu et du miel, les shebbakia, gâteaux frits dans l'huile et enrobés de miel. Cette " légère " collation permet d'attendre le vrai dîner qui se déroule plus tard dans la nuit.
									Tajine : ce mot désigne à la fois le contenant (plat de terre cuite décoré au typique couvercle conique) et le contenu (ragoût de viande, de volaille, de poisson et de légumes cuit à l'étouffé). Goûtez, vous comprendrez pourquoi le tajine est le plat national marocain.
									Thé à la menthe : il désaltère, réchauffe, requinque, se boit le matin, après les repas, à n'importe quelle heure. Un plaisir qui ne se refuse jamais.
									La pâtisserie : gâteaux au miel, cornes de gazelles, feqqas aux amandes, aux raisins secs, ghoriba aux amandes, au sésame... Irrésistible ! </p>


									<h2>Artisanat</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/culture/culture1.jpg" alt="" /></a>
																	</section>
																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/culture/culture2.jpg" alt="" /></a>
																	</section>
															</div>
														</div>
													</div>
												</div>

									<p>La région est très réputée par ses tapis de campagne, ses paniers et ses différents autres objets de grande utilité. Le tissage de tapis modernes et la broderie sont très prospères surtout dans les complexes artisanaux. D'autres objets de grande utilité sont fabriqués par les artisans de la région, tels que les tajines, les jarres, etc, et ils sont nombreux au Maroc parce que c'est une des plus importantes cultures.
									Une des grandes spécialités artisanales du Maroc est le travail de la céramique. Les artisans potiers, dont beaucoup produisent dans la région de Safi (ouest marocain), utilisent la technique de la "double cuisson" : l'argile est d'abord modelé puis cuit une première fois. Il est ensuite peint et le "biscuit" passe une seconde fois au four, ce qui donne un aspect verni aux couleurs. Le produit le plus connu et le plus vendu est le tajine. Si la plupart des tajines peints sont vendus aux occidentaux et sont d'un usage purement décoratif, la quasi-totalité des familles marocaines possède et utilise quotidiennement un tajine "beldi", c'est-à-dire non décoré et à usage alimentaire. Les potiers marocains produisent également cendriers, vases, plats, saladiers…

								    Le travail de l'argile,
								    Le travail de l'or,
								    La poterie,
								    Le travail du bois,
								    L'art du tapis,
								    Le travail du cuir,
								    La production de l'argent,
								    Le travail du métal (cuivre, fer et argent surtout),
								    Le travail de la terre,
								    Le travail du textile,
								    La Vannerie,
								    Soin et Beauté.
									</p>


									<h2>Danse</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/culture/culture3.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>Le hadidou est une danse collective traditionnelle, typique des Berbères du Moyen Atlas. Un demi-cercle se forme : hommes et femmes se croisent et se tiennent la main. Au milieu, un ou plusieurs chefs de troupe mènent la danse au son du bendir, un grand tambourin.
									Cette danse symbolise l'unité de la communauté et un moyen pour résoudre des conflits quelquefois meurtriers qui se déroulaient autrefois au sein des tribus, comme le rappellent les pacifiques joutes poétiques (abraz) mais aussi les sabres, fusils, bâtons, utilisés par les danseurs.</p>
									<h3>Ahidous</h3>

									<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/culture/ahiddous.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>

										L’ahidous (en alphabet tifinagh "ⴰⵃⵉⴷⵓⵙ") est une danse traditionnelle pratiquée par les tribus berbères du Moyen Atlas et du haut-Atlas, dans laquelle hommes et femmes, coude à coude, forment des rondes souples et ondulantes, accompagnées de chants (en berbère izli, izlan) rythmés par le bendir.

										L'ahidous est connu pour être le divertissement préféré des berbères du Maroc central et leur moyen d'expression le plus complet et le plus vivant. On le danse à l'occasion des moindres fêtes et même, l'été, après la moisson, presque tous les soirs dans les villages.

										Les danseurs se mettent en cercle, en demi-cercle, ou sur deux rangs se faisant face, hommes seuls, femmes seules, ou, hommes et femmes alternés, étroitement serrés, épaule contre épaule, ils forment bloc. La danse est rythmée au tambourin et par des battements de mains. Les mouvements sont collectifs ; c'est un piétinement, un tremblement qui se propage, entrecoupé d'ondulations larges, coups de vent sur les blés. Par leur aisance et leur ensemble, ils témoignent d'un sens du rythme remarquable. Toutefois, tous faisant presque toujours le même geste en même temps, c'est surtout un ensemble de juxtaposition que l'ahidous présente. En ce sens, il est très caractéristique de la mentalité des berbères. L'ahwach dansé par les Chleuhs de l'Atlas occidental est déjà fort différent.

									</p>

									<h3>Reggada</h3>
									<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/culture/reggada.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												
									<p>

									La reggada (en amazigh areggada ou imedyazen) ou l'areggada est un genre musical amazigh du Maroc, de la région du Rif oriental, au nord-est du Maroc(Morocco)
									Cette danse et cette musique est issue d'une ancestrale danse guerrière1 des combattants Rifains, appelée aarfa ou imedyazen.
									La musique reggada est très populaire au Rif oriental (Nador, Berkane, Ahfir,Oujda, Hoceima, Kebdana, Driouch, Aknoul, Midar, Zaïo, Al Aroui, Selouane, Imzouren, Bni Nsar, Temsamane...etc.) et de plus en plus populaire dans les autres régions du Maroc.
									La danse reggada reflète la culture guerrière des Rifains.
									</p>
									</div>



								</article>

						</div>
					</div>
				</div>

			
						<div class="row">
							<div class="12u">
								<div id="copyright">
									<ul class="menu">
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>

			</div>

		<!-- Scripts -->

			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.dropotron.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>
			<script src="../scripts/w3-include-HTML.js"></script>

	</body>
</html>