<!DOCTYPE HTML>

<html>
	<head>
		<title>Festival</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="../index.html">OSAMY</a></h1>
								
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current"><a href="../index.html">Welcome</a></li>
									<li>
										<a href="#">Villes & Régions</a>
										<ul>
											<li>
												<a href="akchour.html">Akchour</a>
											</li>
											<li>
												<a href="alhoceima.html">Al Hoceïma</a>
											</li>
											<li>
												<a href="binelouidane.html">Bin el-Ouidane</a>
											</li>
											<li>
												<a href="chefchaouen.html">Chefchaouen</a>
											</li>
											<li>
												<a href="dekhla.html">Dekhla</a>
											</li>
											<li>
												<a href="essaouira.html">Essaouira</a>
											</li>
											<li>
												<a href="ouarzazate.html">Ouarzazate</a>
											</li>
											<li>
												<a href="ouzoud.html">Ouzoud</a>
											</li>
											<li>
												<a href="toubkal.html">Toubkal</a>
											</li>
											<li>
												<a href="autres.html">Autres lieux</a>
											</li>
										</ul>
									</li>
									<li><a href="culture.html">Culture</a></li>
									<li><a href="cuisine.html">Cuisine</a></li>
									<li><a href="festival.html">Festivals</a></li>
									<li><a href="aboutUs.html">About US</a></li>
								</ul>
							</nav>

					</header>
				</div>
			

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div id="content">

							<!-- Content -->
								<article>

									<h2>Festival des Gnaouas</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/festival/gnaoua.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>Le festival met en scène les grands Mâalemines (Maîtres) Gnaouas qui jouent la musique mystique et sacrée des Gnaouas. Quelques centaines de milliers de visiteurs du monde entier sont attirés par ce grand évènement musical. Les festivités se déroulent dans toute la ville et principalement au niveau des deux grandes portes de la médina (place Moulay el Hassan, et Bab Marrakech), où sont installées les deux plus grandes scènes. Essaouira est méconnaissable durant ce festival : toute la ville vit « dans la fièvre gnaoua ».

									Ce festival a pour but le métissage culturel et musical, et propose une excellente sélection d'artistes venus du monde entier pour mêler leur musique à celle des gnaoui. C'est aussi l'occasion pour de jeunes artistes locaux de faire leur apparition devant un large publique

									Le festival est entièrement gratuit, et seuls certains concerts privés sont payants, appelés les Lilas (nuits).

									La première édition du festival a été un vrai succès, elle s'est tenue du 21 au 24 juin 1998, et a attiré près de 20 000 estivants. Actuellement, selon les organisateurs, le festival, fort de ces 10 ans d'existence, attirerait environ 450 000 personnes du fait de sa renommée mondiale.</p>

									<h2>Festival Mawazine</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/festival/mawazine.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>Le Festival Mawazine-Rythmes du Monde est un festival de musique organisé chaque année aux mois de mai et juin, à Rabat et Salé depuis 20011 . Le Festival Mawazine a accueilli un public record de 2,5 millions de spectateurs en 20132,3 . Selon un classement de la chaine MTV, Mawazine est le deuxième plus grand festival de musique dans le monde en 2013, derrière Donauinselfest en Autriche ; et le plus grand festival du continent africain4. Il est un carrefour d'expression pour divers artistes internationaux, en particulier de la sphère francophone et anglophone.</p>


									<h2>Festival de Fès des musiques sacrées du monde</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/festival/fes.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>Le Festival de Fès des musiques sacrées du monde est l’événement marquant de la Fondation Esprit de Fès, au Maroc. Fort de son rayonnement et de sa vocation, le festival s’inscrit depuis 1994 dans une mission universelle de paix et de rapprochement entre les peuples. Durant une dizaine de jours, diverses manifestations et soirées sont données dans tous les monuments et site importants de la ville. Chaque année, le festival accueille une multitude d'artistes, qui viennent de tous les horizons et de toutes les cultures.
									Le Festival de Fès des musiques sacrées du monde et le Forum de Fès, créés respectivement en 1994 et 2001, s’inscrivent dans la tradition savante, artistique et spirituelle de la ville. Depuis leurs créations, ces manifestations ont connu un succès grandissant.
									Ce festival a été désigné en 2001, par l’ONU, comme l’un des événements marquants ayant contribué, d’une façon remarquable, au dialogue des civilisations.</p>


									<h2>Festival des Gnaouas</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/festival/gnaoua.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>Le festival met en scène les grands Mâalemines (Maîtres) Gnaouas qui jouent la musique mystique et sacrée des Gnaouas. Quelques centaines de milliers de visiteurs du monde entier sont attirés par ce grand évènement musical. Les festivités se déroulent dans toute la ville et principalement au niveau des deux grandes portes de la médina (place Moulay el Hassan, et Bab Marrakech), où sont installées les deux plus grandes scènes. Essaouira est méconnaissable durant ce festival : toute la ville vit « dans la fièvre gnaoua ».

									Ce festival a pour but le métissage culturel et musical, et propose une excellente sélection d'artistes venus du monde entier pour mêler leur musique à celle des gnaoui. C'est aussi l'occasion pour de jeunes artistes locaux de faire leur apparition devant un large publique

									Le festival est entièrement gratuit, et seuls certains concerts privés sont payants, appelés les Lilas (nuits).

									La première édition du festival a été un vrai succès, elle s'est tenue du 21 au 24 juin 1998, et a attiré près de 20 000 estivants. Actuellement, selon les organisateurs, le festival, fort de ces 10 ans d'existence, attirerait environ 450 000 personnes du fait de sa renommée mondiale.</p>


									<h2>Festival des cerises de Sefrou</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/festival/sefrou.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>Le Festival des cerises de Sefrou1, dit aussi Fête des cerises ou Moussem Hab Al-Moulouk (« moussem du fruit des rois »)2, est une manifestation qui a lieu chaque année à Sefrou, au Maroc, à une vingtaine de kilomètres de Fès. Il se déroule pendant trois jours en juin3.

									Son origine remonte à 19204, et en 2012, il a été inscrit par l'UNESCO sur la liste représentative du patrimoine culturel immatériel de l'humanité3.
									Chaque année, plusieurs organismes veillent et participent à l'organisation de cette manifestation qui dure trois jours (vendredi, samedi et dimanche) en juin : jours de danse, de chants et de défilés sous la présidence de la « Reine des cerises » (ou « Miss Cerisette »2) sélectionnée parmi les plus belles filles candidates. En parallèle, plusieurs activités sportives et culturelles sont organisées.

									Au cours de cette manifestation culturelle et festive, qui concourt au tourisme local, se tient également une exposition-vente de différents types de cerises cultivées dans l'oasis de Sefrou et ses alentours</p>



								</article>

						</div>
					</div>
				</div>

			
						<div class="row">
							<div class="12u">
								<div id="copyright">
									<ul class="menu">
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>

			</div>

		<!-- Scripts -->

			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.dropotron.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>
			<script src="../scripts/w3-include-HTML.js"></script>

	</body>
</html>