<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="../index.html">OSAMY</a></h1>
								
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current"><a href="../index.html">Welcome</a></li>
									<li>
										<a href="#">Villes & Régions</a>
										<ul>
											<li>
												<a href="akchour.html">Akchour</a>
											</li>
											<li>
												<a href="alhoceima.html">Al Hoceïma</a>
											</li>
											<li>
												<a href="binelouidane.html">Bin el-Ouidane</a>
											</li>
											<li>
												<a href="chefchaouen.html">Chefchaouen</a>
											</li>
											<li>
												<a href="dekhla.html">Dekhla</a>
											</li>
											<li>
												<a href="essaouira.html">Essaouira</a>
											</li>
											<li>
												<a href="ouarzazate.html">Ouarzazate</a>
											</li>
											<li>
												<a href="ouzoud.html">Ouzoud</a>
											</li>
											<li>
												<a href="toubkal.html">Toubkal</a>
											</li>
											<li>
												<a href="autres.html">Autres lieux</a>
											</li>
										</ul>
									</li>
									<li><a href="culture.html">Culture</a></li>
									<li><a href="cuisine.html">Cuisine</a></li>
									<li><a href="festival.html">F estivals</a></li>
									<li><a href="aboutUs.html">About US</a></li>
								</ul>
							</nav>

					</header>
				</div>
			