<!DOCTYPE HTML>

<html>
	<head>
		<title>Pourquoi visiter le Maroc</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="../index.html">OSAMY</a></h1>
								
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current"><a href="../index.html">Welcome</a></li>
									<li>
										<a href="#">Villes & Régions</a>
										<ul>
											<li>
												<a href="akchour.html">Akchour</a>
											</li>
											<li>
												<a href="alhoceima.html">Al Hoceïma</a>
											</li>
											<li>
												<a href="binelouidane.html">Bin el-Ouidane</a>
											</li>
											<li>
												<a href="chefchaouen.html">Chefchaouen</a>
											</li>
											<li>
												<a href="dekhla.html">Dekhla</a>
											</li>
											<li>
												<a href="essaouira.html">Essaouira</a>
											</li>
											<li>
												<a href="ouarzazate.html">Ouarzazate</a>
											</li>
											<li>
												<a href="ouzoud.html">Ouzoud</a>
											</li>
											<li>
												<a href="toubkal.html">Toubkal</a>
											</li>
											<li>
												<a href="autres.html">Autres lieux</a>
											</li>
										</ul>
									</li>
									<li><a href="culture.html">Culture</a></li>
									<li><a href="cuisine.html">Cuisine</a></li>
									<li><a href="festival.html">Festivals</a></li>
									<li><a href="aboutUs.html">About US</a></li>
								</ul>
							</nav>

					</header>
				</div>
			

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div id="content">

							<!-- Content -->
								<article>

									<h2>
									Pourquoi tout le monde devrait visiter le Maroc
									</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/pourquoi/casa.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>Les anciennes Médinas, les montagnes, les dunes sahariennes, l’arôme des épices … tout cela constitue un pays accueillant, chaleureux et attrayant. Le Maroc.

									Ce pays d’Afrique du Nord reçoit des milliers de visiteurs à travers le monde pour beaucoup de raisons, que nous allons tenter de citer sur cet article.</p>

									<h2>
									Le Maroc est au centre du monde
									</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/pourquoi/satellite.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>Tous les vols mènent à Marrakech. A quelques heures seulement depuis l’Europe, le Maroc reste une destination proche. C’est aussi une destination pour un week-end merveilleux, à n’importe quelle période de l’année. Gravissez les montagnes de l’Atlas un samedi, passez une nuit sous les étoiles du sahara et faites les souks le dimanche. Cela vous fera une escapade comme dans les rêves.
									<h2>
									Le Maroc n’est pas cher	
									</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/pourquoi/cher.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>Le Maroc peut être une destination pour les petits budgets, en particulier dans les mois d’hiver. Vous pouvez réserver un hôtel à moins de 20 Euro la nuit ! Ou passer des nuits dans un Riad traditionnel avec une décoration sublime et un cadre agréable au centre de la médina à moins de 50 Euro tout compris.
									Les prix alimentaires varient de ville en ville, mais cela est vraiment pas cher quand un repas dans un restaurant respecté vous coûtera moins de 4 Euro.</p>

									<h2>
									Le Maroc est une diversité géographique
									</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/pourquoi/sahara.jpg" alt="" /></a>
																	</section>

															</div>
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/pourquoi/montagne.jpg" alt="" /></a>
																	</section>

															</div>
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/pourquoi/plage.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>Plongez dans les montagnes de l’Atlas pour un vrai goût de la culture berbère. Vous aurez l’occasion de découvrir des paysages extraordinaires et des gens souriants à travers des petits villages.
									Le Maroc est un coin favoris des randonneurs, des milliers de personnes viennent au pays chaque année pour passer leurs jours de trekking, et passer des nuits sous les étoiles, manger des repas cuisinés à la maison dans des gîtes confortables.</p>

									<h2>
									Le Maroc est un pays côtier
									</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/cities/dakhla-2.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>Le Maroc est aussi la mer, avec des villes côtières impressionnantes. Essaouira est située juste à l’ouest de Marrakech et elle est assez proche pour une excursion d’une journée.
									Profitez des fruits de mer locale en vous promenant dans le vieux port portugais, et passez faire un tour à la médina. Si vous avez envie d’un bain sous le soleil et d’une plage agréable, Agadir est une bonne adresse au sud-ouest.</p>
									<h2>
									La gastronomie marocaine est l’une des meilleures au monde
									</h2>
									<div id="features-wrapper">
													<div class="container">
														<div class="row">
															<div class="4u 12u(medium)">

																<!-- Box -->
																	<section class="box feature">
																		<a href="#" class="image featured"><img src="../images/pourquoi/food.jpg" alt="" /></a>
																	</section>

															</div>
														</div>
													</div>
												</div>

									<p>La cuisine marocaine est connue dans le monde. Riche de goût et avec plein de couleurs.

									Tajines et couscous, deux plats savoureux, mais il y a aussi beaucoup plus à découvrir. Dirigez-vous vers la place Jemaa El Fna de Marrakech, un grand carré qui se remplit de stands de nourriture la nuit, pour déguster tout ce qu’il y a de délicieux dans la cuisine marocaine.

									L’agneau est de loin la viande la plus populaire au pays, c’est la base d’une variété de repas marocains. Les légumes et les épices forment une véritable cuisine enrichissantes. Tentez aussi la Harira (célèbre soupe du Ramadan) ou la Bissara (soupe de haricots blancs).</p>

									<h2>
									Qu'attendez-vous?	
									</h2>






								</article>

						</div>
					</div>
				</div>

			
						<div class="row">
							<div class="12u">
								<div id="copyright">
									<ul class="menu">
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>

			</div>

		<!-- Scripts -->

			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.dropotron.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>
			<script src="../scripts/w3-include-HTML.js"></script>

	</body>
</html>